nav{
    position: static;
    display: inline-block;
    width: 94%;
    height: 47px;
    padding-top: 15px;
    padding-left: 6%;
    top: 0;
    left: 0;
    z-index: 100;
    animation: fadeIn 2.5s;
}
nav a {
    text-decoration: none;
    color: dimgrey;
    font-size: 30px;
    font-family: sans-serif;
    margin-left: 50px;
    margin-top: -5px;
    animation: fadeIn 2.5s;
}
nav p {
    display: inline-block;
}
.logo{
    position: fixed;
    top: -3px;
    left: 25px;
    z-index: 101;
    animation: fadeIn 3.5s;
}

@keyframes fadeIn {
    From {
        opacity: 0.2;
    }
    To {
        opacity: 1;
    }
}
