body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #ffffd3;
    animation: fadeIn 1s;
}

a.active, a:hover {
    color: black;
    text-decoration: underline #f3f2b4;
}

.backgroundstyle{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #c02727;
    height: 400px;
    width: 100%;
    clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
    z-index: -10;
    animation: fadeIn 1.5s;
}
.Box{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.Box1{
    height: 450px;
    width: 450px;
    padding: 25px;
    background: radial-gradient(#ffffd3, #f3f2b4);
    box-shadow: 0 5px 5px -2px;
    animation: fadeIn 2s;
}
.Box2{
    height: 450px;
    width: 450px;
    padding: 25px;
    background: radial-gradient(#ffffd3, #f3f2b4);
    box-shadow: 0 5px 5px -2px;
    animation: fadeIn 2.5s;
}
.Box h1, .Box p {
    font-family: sans-serif;
    line-height: 30px;
    animation: fadeIn 3s;
}
.Box p {
    font-family: sans-serif;
    line-height: 30px;
    animation: fadeIn 3.5s;
}
.Box p2 {
    height: 420px;
    width: 420px;
    animation: fadeIn 3.5s;
}

@keyframes fadeIn {
    From {
        opacity: 0;
    }
    To {
        opacity: 1;
    }
}
