body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #ffffd3;
    animation: fadeIn 0.2s;
}
a.active, a:hover {
    color: black;
    text-decoration: underline #f3f2b4;
    animation: fadeIn 0.2s;
}
.backgroundstyle{
    position: absolute;
    bottom: 100px;
    left: 0;
    background-color: #c02727;
    height: 500px;
    width: 100%;
    clip-path: polygon(0 33%, 100% 0, 100% 66%, 0% 100%);
    z-index: -10;
    animation: fadeIn 0.5s;
}
.Box{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.Box1{
    height: 450px;
    width: 1000px;
    padding: 25px;
    background: radial-gradient(#ffffd3, #f3f2b4);
    box-shadow: 0 5px 5px -2px;
    animation: fadeIn 1s;
}

.Box h1, .Box p {
    font-family: sans-serif;
    line-height: 30px;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    From {
        opacity: 0.8;
    }
    To {
        opacity: 1;
    }
}
