body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #ffffd3;
}
a.active, a:hover {
    color: black;
    text-decoration: underline #f3f2b4;
}
.backgroundstyle{
    position: absolute;
    bottom: 100px;
    left: 0;
    background-color: #c02727;
    height: 500px;
    width: 100%;
    clip-path: polygon(0 33%, 100% 0, 100% 66%, 0% 100%);
}
