nav{
    position: fixed;
    display: inline-block;
    width: 100%;
    height: 47px;
    padding-top: 3px;
    top: 0;
    left: 0;
    background: #ffffd3;
    /*box-shadow: 0 5px 5px -5px;*/
    z-index: 100;
}

nav a {
    text-decoration: none;
    color: dimgrey;
    font-size: 40px;
    font-family: sans-serif;
    margin-left: 50px;
}

nav p {
    display: inline-block;
    padding-left: 50px;
    padding-top: 20px;
    margin-left: 50px;
    width: 50px;
}
